<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Pixels &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="index.html" class="probootstrap-logo">Nonviolent communication<span></span></a>
        
        <!-- <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div> -->

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">About NVC</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Support us</a></li>
          </ul>

          <!-- <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div> -->
        </nav>
    </div>
  </header>
  <!-- END: header -->
  <div class="probootstrap-main-content">
    <section class="probootstrap-slider flexslider">
      <ul class="slides">
         <!-- class="overlay" -->
        <li style="background-image: url(img/slider_1.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">Weekly practice sessions</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30"> Every Monday 18:30 until 21:30 CET (Amsterdam time) online and for free </div>
                  <p class="probootstrap-animate"><a href="#" class="btn btn-ghost btn-ghost-white">Would you like to join?</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- class="overlay" -->
        <!-- <li style="background-image: url(img/slider_5.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">Award Winning Agency</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">A new website template by <a href="https://uicookies.com/">uicookies.com</a> under license <a href="https://uicookies.com/license/">Creative Commons 3.0</a></div>
                  <p class="probootstrap-animate"><a href="#" class="btn btn-ghost btn-ghost-white">Download This Template</a></p>
                </div>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container-fluid">
        <div class="section-heading text-center">
          <h2 class="mt0 mb0">Need some inspiration?</h2>
        </div>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/brain.png);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Fun fact!</p>
        <h3 class="mt0 mb40">A practice</h3>
        <p>Input explanation for how your brain changes if you practice a skill. There is a study that shows a human brain changes with practice.</p>
        <p class="mb50">Input skills that you cultivate</p>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">Study</a> &nbsp; <a href="#" class="btn btn-primary mb10">The practice</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/heart.jpg);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">About Us</p>
        <h3 class="mt0 mb40">Meet The Community</h3>
        <p>How beautiful would it be to have a community of people who can inspire and support each other in their NVC-journey? Our dream is that activities and meetups will be organized all over the world to get this community together :)</p>
        <p class="mb50">Very soon (in 2022!) we will start with regular in real life meetups in Amsterdam! Subscribe to our newsletter to not miss a thing!</p>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">Subscribe to our newsletter</a></p>
      </div>
    </section>
     <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/giraffe.jpg);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">The essence</p>
        <h3 class="mt0 mb40">The famous 4 steps in NVC</h3>
        <div class="row mb20">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">1</span>
              <h4 class="mt0">Observation</h4>
              <p>What is reality? What happened in terms in which no discussion is possible?</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">2</span>
              <h4 class="mt0">Feelings</h4>
              <p>What emotions and feelings are present? Anger? Sadness? Gratitude? Restlessness?</p>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">3</span>
              <h4 class="mt0">Needs</h4>
              <p>What is it that you as a human so much want right now? What is it that you need? Connection? Safety? Trust? Clarity?</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">4</span>
              <h4 class="mt0">Request</h4>
              <p>Is there a clear doable action that you would like someone to do? Something you can request that you think would contribute to these needs of yours being fulfilled.</p>
            </div>
          </div>
        </div>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">See more about the philosophy</a></p>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
        <div class="container">
          <!-- END row -->
          <div class="row">
            <div class="col-md-12 probootstrap-animate">
              <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth mt50">
                <div class="item">

                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com">
                    </figure>
                    <blockquote class="quote">&ldquo;Cultivate a compassionate and authentic way of relating to others and yourself&rdquo; <cite class="author">&mdash; Sam Ritchie <br> <span>Some guy</span></cite></blockquote>
                  </div>

                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com">
                    </figure>
                    <blockquote class="quote">&ldquo;What I want in my life is compassion, a flow between myself and others based on a mutual giving from the heart.&rdquo; <cite class="author">&mdash; Marshall Rosenberg <br> <span>Developer nonviolent communication</span></cite></blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com">
                    </figure>
                    <blockquote class="quote">&ldquo;What the #@!# is going on between people!?&rdquo; <cite class="author">&mdash; Yoram Mosenzon <br> <span>Owner, connecting2life - Nonviolent Communication</span></cite></blockquote>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
    </div>

    <!-- FOOTER -->
    <div class="probootstrap-footer-spacer"></div>
    <footer class="probootstrap-footer">
      <div class="probootstrap-footer-section">
        <!-- <div class="container">
          <div class="row mb80">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
              <h3>About Us</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#" class="btn btn-ghost btn-ghost-white btn-sm">I'm a button</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-link-wrap probootstrap-footer-widget">
                <h3>Services</h3>
                <ul>
                  <li><a href="#">Interface Design</a></li>
                  <li><a href="#">User Experience</a></li>
                  <li><a href="#">Web &amp; App Development</a></li>
                  <li><a href="#">Product Strategy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Connect with us</h3>
                <ul class="probootstrap-footer-social">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="row">
            <p class="text-center">&copy; uiCookies:Pixels. Designed w/ <i class="icon-heart2"></i> by <a href="https://uicookies.com/">uicookies.com</a> <br> Demo Images by Unsplash.com</p>
          </div>
        </div>
      </div>
    </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>